html 
    block head
    head
        title  Docker wii
        link(href='css/font-awesome.min.css', rel='stylesheet')
        link(href='css/main.css', rel='stylesheet')
        link(href='css/style.css', rel='stylesheet')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")

    block body
    body
    div(class="main-wrap")
        block sidebar
        div(class="navigation")
            div(class="navbar-inverse navbar navbar-fixed-top")
                div(class="container-fluid")
                    div(class="navbar-header")
                        a(href="/",class="current navbar-brand")
                            span(class="text-primary") docker
                            span(class="text-success") d
                            i(class="fa fa-circle-o-notch fa-lg text-success",style="vertical-align: 13%")
                            i(class="fa fa-circle-o-notch fa-lg text-success",style="vertical-align: 13%")

            div(class="sidebar")
                div(class="sidebar-content")
                    ul(class="side-menu")
                        li(class="primary-submenu active", id="menu-") 
                            a(href="/") 
                                i(class="fa fa-home fa-lg")
                                span(class="nav-label") General Info
                        li(class="primary-submenu", id="menu-containers") 
                            a(href="/containers")
                                i(class="fa fa-columns fa-lg")
                                span(class="nav-label") Containers 
                        li(class="primary-submenu", id="menu-containers") 
                            a(href="/images")
                                i(class="fa fa-window-maximize fa-lg")
                                span(class="nav-label") Images 
                        li(class="primary-submenu", id="menu-compose") 
                            a(href="/compose")
                                i(class="fa fa-sitemap fa-lg")
                                span(class="nav-label") Docker Compose 
                        li(class="primary-submenu") 
                            a 
                                span(class="nav-label") Test
                        li(class="primary-submenu") 
                            a 
                                span(class="nav-label") Test
                        li 
                            a 
                                span(class="nav-label") Test
                        li(class="primary-submenu") 
                            a(href="javascript:void(0)", id="make-sidebar-slim") 
                                i(class="fa fa-chevron-left fa-lg")
                                span(class="nav-label") slim menu bar
        div(class="content")
            block title
            div(class="sub-navbar bg-gray-darker")
                div(class="container")
                    div(class="row")
                        div(class="col-lg-12")
                            div(class="sub-navbar-header")
                            h3 General Info


            div(class="container")
                block content
        block footer
        script(src="js/main.js")
